.col-30 {
    width: 30%;
    height: 600px;
    background-color: white;
    float: left;
    display: flex;
    justify-content: center;
}

.col-70 {
    width: 70%;
    height: 600px;
    background-color: white;
    float: left;
}

.product-img-frame {
    align-self: center;
    width: 90%;
    height: 70%;
    background-color: white;    
    display: flex;
    justify-content: center;
}

#product-img {
    width: 90%;
    align-self: center;
    border:2px solid lightcoral;
    border-radius: 4px;
    padding: 10px;
}

table {
    width: 96%;
    border-collapse: collapse;
    background-color: white;
}

table, td, th {
    border: 1px solid orangered;   
}
td{
    padding-top: 15px;
    padding-bottom: 15px;
}
#btnGoback{
	border: 0px;
}
.product-img-frame img{
    bottom:0px;
}

.product-buttons {
    align-self: center;
}
body{
    font-family: 'Saira', sans-serif;
    transition: 1s;
}